body {
    margin: 0;
    padding: 0;
    background: url('../img/bg3.jpg');
    /* background-repeat: no-repeat;    */
    color: white;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    font-family: 'Nunito', sans-serif;
}

.header .left {

    /* border: 2px solid rgba(255, 0, 0, 0.927); */
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;

}

.left img {
    width: 80px;
    height: 60px;
    border-radius: 7px;
    filter: invert(92%);
}

.left div {
    text-align: center;
    line-height: 19px;
    font-size: 15px;
}

.header .mid {
    display: block;
    width: 48%;
    margin: 20px auto;
    /* border: 2px solid yellow; */
}

.header .right {
    position: absolute;
    right: 45px;
    top: 33px;
    display: inline-block;
    /* border: 2px solid green; */


}

/* Navigation Bar */
.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 30px 13px;
}

.navbar li a:hover,
.navbar li a.active {

    color: #249D9F;
    transition: 1s;
}

.bttn {
    margin: 0px 20px;
    background: none;
    color:#fff;
    padding: 3px 10px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #249D9F;
    text-decoration: none;
}

.bttn:hover {
    background-color: #249D9F;
}

.d1 {
    /* border: 2px solid red; */
    position: absolute;
    display: inline-block;
    top: 27%;
    left: 155px;
    width: 1000px;
    color: black;
    background-color: white;
    padding-left: 60px;
    height: 450px;

}

.d1 p {
    font-size: 20px;
    line-height: 40px;
}


/*------------------------------------- Footer----------------------------------- */
.foot {
    border: 2px solid #303030;
    display: inline-block;
    position: absolute;
    top: 124%;
    width: 100%;
    height: 39%;
    background-color: #303030;

}

.foot .f1 {

    width: 190px;
    height: 250px;
    line-height: 10px;
    left: 20px;
    position: absolute;
    display: inline-block;
    text-align: center;

}

.foot .f1 li {
    list-style: none;
    line-height: 35px;
    text-align: center;
}

.foot .f1 a {
    text-decoration: none;
    color: white;
    text-align: center;

}

.foot .f1 h2 {
    color: #249D9F;
}

.foot .f2 {

    display: inline-block;
    position: absolute;
    width: 240px;
    height: 250px;
    left: 250px;
    top: 0;
    line-height: 10px;
    text-align: center;

}

.foot .f2 h2 {
    color: #249D9F;
}

.foot .f2 p {
    color: white;
    line-height: 30px;
}

.foot .f3 {
    display: inline-block;
    position: absolute;
    width: 240px;
    height: 250px;
    left: 580px;
    top: 0;
    line-height: 10px;

}

.foot .f3 i {
    line-height: 20px;
}

.foot .f3 h2 {
    color: #249D9F;
    text-align: center;
}

.foot .f3 i {
    align-items: center;
    font-size: 20px;
    margin-left: 45%;
    padding-bottom: 10px;
}

.foot .f3 p {

    text-align: center;
}

.foot .f4 {

    display: inline-block;
    position: absolute;
    width: 400px;
    height: 250px;
    left: 900px;
    top: 0;
    /* line-height: 10px; */
    text-align: center;
}

.foot .f4 h2 {
    color: #249D9F;
    text-align: center;
}

.foot .f4 ul {
    display: flex;

}

.foot .f4 ul li {
    list-style: none;
    margin: 0px 5px;
}

.foot .f4 ul li a i {
    background-color: white;
    width: 60px;
    border-radius: 50%;
}

.foot .f4 ul li a i:hover {
    background-color: #249D9F;
}

.foot .f4 ul li a i {
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;

}